<html>
  <head>
    <title>Dermatosis Classifier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css">
    <style>

    body {
        background: linear-gradient(to left top, grey, rgb(98, 94, 94)) fixed;
        text-align: center;
        margin-top: 250px;
    }
    h1 {
        text-align: center;
        color: aliceblue;
    }
    
    h2 {
        text-align: center;
        color: aliceblue;
    }
    
    
    form {
        display: inline-block;
    }
    </style>
  </head>
  <body>
    <h1>Dermatosis Classifier</h1>

    <h2> By clicking the button below you agree to the terms and conditions of this application as follows: <br/> this is not a real diagnosis. If you are concerned about any
   forms of Dermatosis please consult your Dermatologist. You accept we are not held liable for any wrong or correct predictions</h2>
    <br/>
    <br/>
    <form action=" http://192.168.200.44:8000//index">
        <input type="submit" value="Go To App" style="height: 35px; width: 100px;"/>
    </form>
  </body>
</html>